<div class = "navbar">
    <div class = "search"><%= form_with url: search_customers_path, method: :get do |form| %>
        <%= form.label :search_term, "Buscar por:" %>
        <%= form.text_field :search_term %>
        <%= form.submit "Busca" %>
        <% end %></div> 

        <div class = "filter"> <%= form_with url: search_month_customers_path, method: :get do |form| %>
        <%= form.label :search_month, "Buscar por:" %>
        <%= form.select :search_month, 1..12 %>
        <%= form.submit "Filtrar" %>
        <% end %> </div>
    <div class = "menu"><%= link_to  "Novo cliente", new_customer_path %></div>
    <div class = "menu"><%= link_to  "Início", customers_path %></div>
    </div>