<div> <h1> <%=@customer.name%></h1></div>
<div> <h2> <%=@customer.cell%></h2></div>
<div> <h2> <%=@customer.e_mail%></h2></div>
<div> <h2> <%=@customer.birthday%></h2></div>

<%= link_to  "Início", root_path %>