<!DOCTYPE html>
<html>

  <head>
    <title>Agenda</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class = "navbar">
    <div class = "search"><%= form_with url: search_customers_path, method: :get do |form| %>
    <%= form.label :search_term, "Buscar por:" %>
    <%= form.text_field :search_term %>
    <%= form.submit "Busca" %>
    <% end %></div> 
    <div class = "menu"><%= link_to  "Novo cliente", new_customer_path %></div>
    </div>
    <%= yield %>
  </body>
</html>
